@model DemoMVC367.Models.Student
<h2>Student Form</h2>

<form asp-action="Create" method="post">
    <label>Name:</label>
    <input asp-for="Name" /><br />

    <label>Age:</label>
    <input asp-for="Age" /><br />

    <label>Address:</label>
    <input asp-for="Address" /><br />

    <button type="submit">Submit</button>
</form>
