@{
    ViewData["Title"] = "Demo - Index";
}

<h1>DemoController - Index</h1>
<p>Example</p>

<ul>
    <li><a href="/Demo/DownloadFile">Download File (FileResult)</a></li>
    <li><a href="/Demo/RedirectToFacebook">Redirect to Facebook (RedirectResult)</a></li>
    <li><a href="/Demo/GetJson">Get JSON Data (JsonResult)</a></li>
    <li><a href="/Demo/GotoHomeIndex">Redirect to Home/Index (RedirectToActionResult)</a></li>
    <li><a href="/Demo/ErrorCode">Show 404 Status (StatusCodeResult)</a></li>
</ul>