@{
    ViewData["Title"] = "Demo - Index";
}

<h1>DemoController - Index</h1>
<p>This is the main page for lesson 3 content.</p>

<ul>
    <li><a href="/Demo/DownloadFile">FileResult - Download example file</a></li>
</ul>
